.jumbotron,
.card-body,
.container,
.site-header {
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4 {
    font-weight: bold;
}

.jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
    font-size: 38px;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.site-header a {
    color: white;
    transition: ease-in-out color .15s;
}

.light-text {
    color: white;
}

.site-header .dropdown-menu a {
    color: black;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.alert {
    position: fixed;
    top: 80px;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#spinner-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1021;
    display: none;
}

a.custom-card,
a.custom-card:hover {
    color: inherit;
    text-decoration: inherit;
}

.checked {
    color: orange;
}


/* Estilos "propios" */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding in columns */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
}


/* Responsive columns - one column layout (vertical) on small screens */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

#buttonCustom {
    float: right;
    align-items: flex-end;
    background-color: #343a40;
    border-radius: 50%;
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}

.dropdown-menu {
    min-width: 0;
    background-color: #343a40;
    border: 0px;
}

#prod-list-container {
    display: block;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.carousel {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    position: relative;
    margin: 1rem -15px 0;
    border: solid #f8f9fa;
}

@media (min-width: 576px) {
    .carousel {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
    }
}

.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 200%;
    position: relative;
    margin: 0;
    padding: 0;
}

.fill-ratings {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

span {
    display: inline-block;
}

.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}

#prod-info-container {
    font-family: sans-serif;
}

#prodHyper {
    font-size: initial;
    color: #212529;
    text-decoration: none;
}

#prodInfo {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#prodInfo,
#prodInfoComplete {
    width: 175%;
}


/* Star style from product-info */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    visibility: hidden;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #e7711b;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #e7711b;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #e7711b;
}

.card-header div {
    display: inline;
}

.card-header p {
    float: right;
}

input[type=button] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container #firstView {
    justify-content: center;
}

textarea#text {
    height: 50%;
    width: 75%;
}

div#containerMsgs {
    width: 75%;
}

@media screen and (min-width: 601px) {
    p#prodInfo {
        font-size: 100%;
    }
}

@media screen and (max-width: 600px) {
    p#prodInfo {
        width: auto;
        font-size: 100%;
    }
}

div#moreLess {
    text-align: -webkit-center;
}